.page-container{
    min-height: 100%;
    width: 100%;
    background-color: #e9e7e7;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    .login-container{
        width: 500px;
        height: 300px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 15px #696969;
        .title{
            margin-top: 20px;
            color: #409EFF;
            text-align: center;
        }
        .login-form{
            margin: 30px;
        }
    }
}